.main {
  width: 100%;
  padding: 40px;
}

.main__content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.main__title {
  margin: 0;
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
}
